<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package</title>
</head>
<body>
    <center>
        <h1>Package:</h1>
    </center>
    <ul>
        <ol><p>These are basically are two types first one is Internal python package and second one is external python package.</p></ol>
        <ol>Internal python package has basic python packages which is inbuilt provided by the python developers</ol>
        <ol>External python package is we are going to install externally as a developer and import for better advancement of project work.</ol>
    </ul>
</body>
</html>