<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics</title>
</head>
<body>
    <center><h1>Famework</h1></center>
    <ul>
        <ol>Framwork:
            <p>Famework is a software which is used for creating prototype for the development.</p>
        </ol>
        <ol>Types of Framework:
            <p>Micro framework: flask.
                Major framework: Pyramid, Django.
            </p>
        </ol>
    </ul>
</body>
</html>